<a href="https://colab.research.google.com/github/ranikanhe/project-with-Python-Assignment/blob/main/10_Pandas_Sales_Data_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas Sales Data assignment

In [ ]:
import numpy as np
import pandas as pd

Basic Data Exploration

In [ ]:
# 1.	Load the sales data CSV file into a Pandas DataFrame.
df=pd.read_csv("/content/drive/MyDrive/SQL/sales_data.csv")
df

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00
1,1002,Employee_2,26,Home Decor,East,32850,42821,No,9,35806.50
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34
3,1004,Employee_4,31,Electronics,West,17263,40183,No,3,17780.89
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08
5,1006,Employee_6,22,Groceries,East,25853,41898,No,4,26887.12
6,1007,Employee_7,43,Automobile,West,7695,32586,No,10,8464.50
7,1008,Employee_8,37,Groceries,South,47690,49267,No,3,49120.70
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64
10,1011,Employee_11,46,Electronics,West,26253,49772,No,7,28090.71
11,1012,Employee_12,43,Clothing,North,32197,47360,No,6,34128.82
12,1013,Employee_13,41,Clothing,West,5955,28323,No,6,6312.30
13,1014,Employee_14,50,Electronics,West,30025,34692,No,9,32727.25
14,1015,Employee_15,47,Groceries,South,5377,16274,No,3,5538.31
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60
16,1017,Employee_17,23,Groceries,East,40326,47702,No,6,42745.56
17,1018,Employee_18,31,Home Decor,East,30349,24158,Yes,5,31866.45
18,1019,Employee_19,55,Automobile,North,12766,48762,No,9,13914.94
19,1020,Employee_20,36,Automobile,West,28150,15865,Yes,4,29276.00
20,1021,Employee_21,51,Clothing,North,27366,14747,Yes,5,28734.30
21,1022,Employee_22,32,Groceries,East,8939,31223,No,8,9654.12
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52
23,1024,Employee_24,52,Automobile,North,36688,33729,Yes,3,37788.64
24,1025,Employee_25,55,Clothing,North,17986,28587,No,7,19245.02
25,1026,Employee_26,55,Automobile,South,21533,47125,No,9,23470.97
26,1027,Employee_27,31,Groceries,East,38560,47726,No,6,40873.60
27,1028,Employee_28,33,Electronics,West,33593,23312,Yes,5,35272.65
28,1029,Employee_29,44,Clothing,West,7157,10232,No,9,7801.13
29,1030,Employee_30,23,Groceries,West,27787,41638,No,6,29454.22
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26
31,1032,Employee_32,54,Clothing,North,34702,47611,No,3,35743.06
32,1033,Employee_33,49,Clothing,North,29469,10151,Yes,2,30058.38
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
34,1035,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51
35,1036,Employee_36,30,Groceries,West,20471,35198,No,6,21699.26
36,1037,Employee_37,26,Clothing,West,25221,20484,Yes,9,27490.89
37,1038,Employee_38,49,Electronics,North,25613,28763,No,10,28174.30
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01
40,1041,Employee_41,32,Automobile,East,44983,24131,Yes,3,46332.49
41,1042,Employee_42,37,Home Decor,South,28905,32080,No,9,31506.45
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64
43,1044,Employee_44,53,Automobile,West,11767,38819,No,7,12590.69
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08
45,1046,Employee_46,51,Automobile,North,32685,48545,No,2,33338.70
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80
48,1049,Employee_49,43,Home Decor,South,17997,12104,Yes,5,18896.85
49,1050,Employee_50,33,Automobile,North,27557,13555,Yes,5,28934.85

In [ ]:
# 2.	Display the first 5 rows of the DataFrame.
df.head(11)

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00
1,1002,Employee_2,26,Home Decor,East,32850,42821,No,9,35806.50
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34
3,1004,Employee_4,31,Electronics,West,17263,40183,No,3,17780.89
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08
5,1006,Employee_6,22,Groceries,East,25853,41898,No,4,26887.12
6,1007,Employee_7,43,Automobile,West,7695,32586,No,10,8464.50
7,1008,Employee_8,37,Groceries,South,47690,49267,No,3,49120.70
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64
10,1011,Employee_11,46,Electronics,West,26253,49772,No,7,28090.71

In [ ]:
# 3.	Show the last 5 rows of the DataFrame.
df.tail()

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
45,1046,Employee_46,51,Automobile,North,32685,48545,No,2,33338.70
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80
48,1049,Employee_49,43,Home Decor,South,17997,12104,Yes,5,18896.85
49,1050,Employee_50,33,Automobile,North,27557,13555,Yes,5,28934.85

In [ ]:
# 4.	Get the shape (number of rows and columns) of the dataset.
df.shape

(50, 10)

In [ ]:
# 5.	Display summary statistics of all numerical columns.
df.describe()

,EmployeeID,Age,SalesAmount,Target,CommissionPercentage,TotalEarnings
count,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,1025.50000,39.780000,29381.580000,29492.040000,5.860000,31034.621800
std,14.57738,10.525557,12096.724585,13022.222386,2.432853,12703.757127
min,1001.00000,22.000000,5377.000000,10151.000000,2.000000,5538.310000
25%,1013.25000,31.000000,20736.500000,17249.500000,4.000000,22142.187500
50%,1025.50000,41.000000,29747.000000,28675.000000,6.000000,31686.450000
75%,1037.75000,49.000000,38276.750000,41410.500000,8.000000,40749.962500
max,1050.00000,55.000000,49578.000000,49772.000000,10.000000,52860.600000

In [ ]:

# 6.	Get column names of the dataset.
list (df.columns)

['EmployeeID',
 'Name',
 'Age',
 'Department',
 'Region',
 'SalesAmount',
 'Target',
 'TargetAchieved',
 'CommissionPercentage',
 'TotalEarnings']

In [ ]:
# 7.	Check for missing values in the dataset.
df.isnull().sum()

EmployeeID              0
Name                    0
Age                     0
Department              0
Region                  0
SalesAmount             0
Target                  0
TargetAchieved          0
CommissionPercentage    0
TotalEarnings           0
dtype: int64

In [ ]:
# 8.	Get the data types of each column.
df.dtypes

EmployeeID                int64
Name                     object
Age                       int64
Department               object
Region                   object
SalesAmount               int64
Target                    int64
TargetAchieved           object
CommissionPercentage      int64
TotalEarnings           float64
dtype: object

In [ ]:
# 9.	Sort the dataset by SalesAmount in descending order.
df.sort_values(by = ['SalesAmount'],ascending = False)

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60
7,1008,Employee_8,37,Groceries,South,47690,49267,No,3,49120.70
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64
40,1041,Employee_41,32,Automobile,East,44983,24131,Yes,3,46332.49
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08
16,1017,Employee_17,23,Groceries,East,40326,47702,No,6,42745.56
34,1035,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26
26,1027,Employee_27,31,Groceries,East,38560,47726,No,6,40873.60
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05
23,1024,Employee_24,52,Automobile,North,36688,33729,Yes,3,37788.64
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60
31,1032,Employee_32,54,Clothing,North,34702,47611,No,3,35743.06
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00
27,1028,Employee_28,33,Electronics,West,33593,23312,Yes,5,35272.65
1,1002,Employee_2,26,Home Decor,East,32850,42821,No,9,35806.50
45,1046,Employee_46,51,Automobile,North,32685,48545,No,2,33338.70
11,1012,Employee_12,43,Clothing,North,32197,47360,No,6,34128.82
17,1018,Employee_18,31,Home Decor,East,30349,24158,Yes,5,31866.45
13,1014,Employee_14,50,Electronics,West,30025,34692,No,9,32727.25
32,1033,Employee_33,49,Clothing,North,29469,10151,Yes,2,30058.38
41,1042,Employee_42,37,Home Decor,South,28905,32080,No,9,31506.45
19,1020,Employee_20,36,Automobile,West,28150,15865,Yes,4,29276.00
29,1030,Employee_30,23,Groceries,West,27787,41638,No,6,29454.22
49,1050,Employee_50,33,Automobile,North,27557,13555,Yes,5,28934.85
20,1021,Employee_21,51,Clothing,North,27366,14747,Yes,5,28734.30
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01
10,1011,Employee_11,46,Electronics,West,26253,49772,No,7,28090.71
5,1006,Employee_6,22,Groceries,East,25853,41898,No,4,26887.12
37,1038,Employee_38,49,Electronics,North,25613,28763,No,10,28174.30
36,1037,Employee_37,26,Clothing,West,25221,20484,Yes,9,27490.89
25,1026,Employee_26,55,Automobile,South,21533,47125,No,9,23470.97
35,1036,Employee_36,30,Groceries,West,20471,35198,No,6,21699.26
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64
48,1049,Employee_49,43,Home Decor,South,17997,12104,Yes,5,18896.85
24,1025,Employee_25,55,Clothing,North,17986,28587,No,7,19245.02
3,1004,Employee_4,31,Electronics,West,17263,40183,No,3,17780.89
18,1019,Employee_19,55,Automobile,North,12766,48762,No,9,13914.94
43,1044,Employee_44,53,Automobile,West,11767,38819,No,7,12590.69
21,1022,Employee_22,32,Groceries,East,8939,31223,No,8,9654.12
6,1007,Employee_7,43,Automobile,West,7695,32586,No,10,8464.50
28,1029,Employee_29,44,Clothing,West,7157,10232,No,9,7801.13
12,1013,Employee_13,41,Clothing,West,5955,28323,No,6,6312.30
14,1015,Employee_15,47,Groceries,South,5377,16274,No,3,5538.31

In [ ]:
 #10.	Select only EmployeeID, Name, and SalesAmount columns.
df[["EmployeeID",'Name','SalesAmount']]
df.head()

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00
1,1002,Employee_2,26,Home Decor,East,32850,42821,No,9,35806.50
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34
3,1004,Employee_4,31,Electronics,West,17263,40183,No,3,17780.89
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08

Filtering & Conditional Selection

In [ ]:
# 11.	Find all employees who achieved their sales target
df[df['TargetAchieved'] == 'YES']
df

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00
1,1002,Employee_2,26,Home Decor,East,32850,42821,No,9,35806.50
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34
3,1004,Employee_4,31,Electronics,West,17263,40183,No,3,17780.89
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08
5,1006,Employee_6,22,Groceries,East,25853,41898,No,4,26887.12
6,1007,Employee_7,43,Automobile,West,7695,32586,No,10,8464.50
7,1008,Employee_8,37,Groceries,South,47690,49267,No,3,49120.70
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64
10,1011,Employee_11,46,Electronics,West,26253,49772,No,7,28090.71
11,1012,Employee_12,43,Clothing,North,32197,47360,No,6,34128.82
12,1013,Employee_13,41,Clothing,West,5955,28323,No,6,6312.30
13,1014,Employee_14,50,Electronics,West,30025,34692,No,9,32727.25
14,1015,Employee_15,47,Groceries,South,5377,16274,No,3,5538.31
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60
16,1017,Employee_17,23,Groceries,East,40326,47702,No,6,42745.56
17,1018,Employee_18,31,Home Decor,East,30349,24158,Yes,5,31866.45
18,1019,Employee_19,55,Automobile,North,12766,48762,No,9,13914.94
19,1020,Employee_20,36,Automobile,West,28150,15865,Yes,4,29276.00
20,1021,Employee_21,51,Clothing,North,27366,14747,Yes,5,28734.30
21,1022,Employee_22,32,Groceries,East,8939,31223,No,8,9654.12
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52
23,1024,Employee_24,52,Automobile,North,36688,33729,Yes,3,37788.64
24,1025,Employee_25,55,Clothing,North,17986,28587,No,7,19245.02
25,1026,Employee_26,55,Automobile,South,21533,47125,No,9,23470.97
26,1027,Employee_27,31,Groceries,East,38560,47726,No,6,40873.60
27,1028,Employee_28,33,Electronics,West,33593,23312,Yes,5,35272.65
28,1029,Employee_29,44,Clothing,West,7157,10232,No,9,7801.13
29,1030,Employee_30,23,Groceries,West,27787,41638,No,6,29454.22
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26
31,1032,Employee_32,54,Clothing,North,34702,47611,No,3,35743.06
32,1033,Employee_33,49,Clothing,North,29469,10151,Yes,2,30058.38
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
34,1035,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51
35,1036,Employee_36,30,Groceries,West,20471,35198,No,6,21699.26
36,1037,Employee_37,26,Clothing,West,25221,20484,Yes,9,27490.89
37,1038,Employee_38,49,Electronics,North,25613,28763,No,10,28174.30
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01
40,1041,Employee_41,32,Automobile,East,44983,24131,Yes,3,46332.49
41,1042,Employee_42,37,Home Decor,South,28905,32080,No,9,31506.45
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64
43,1044,Employee_44,53,Automobile,West,11767,38819,No,7,12590.69
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08
45,1046,Employee_46,51,Automobile,North,32685,48545,No,2,33338.70
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80
48,1049,Employee_49,43,Home Decor,South,17997,12104,Yes,5,18896.85
49,1050,Employee_50,33,Automobile,North,27557,13555,Yes,5,28934.85

In [ ]:
# 12.	Find employees who belong to the "Electronics" department.
df[df['Department'] == "Electronics"]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00
3,1004,Employee_4,31,Electronics,West,17263,40183,No,3,17780.89
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64
10,1011,Employee_11,46,Electronics,West,26253,49772,No,7,28090.71
13,1014,Employee_14,50,Electronics,West,30025,34692,No,9,32727.25
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60
27,1028,Employee_28,33,Electronics,West,33593,23312,Yes,5,35272.65
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
37,1038,Employee_38,49,Electronics,North,25613,28763,No,10,28174.30
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08

In [ ]:
# 13.	Find employees who belong to the "West" region and achieved their target
df[(df['Region'] == "West") & (df['TargetAchieved'] == "Yes")]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
19,1020,Employee_20,36,Automobile,West,28150,15865,Yes,4,29276.00
27,1028,Employee_28,33,Electronics,West,33593,23312,Yes,5,35272.65
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26
36,1037,Employee_37,26,Clothing,West,25221,20484,Yes,9,27490.89
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64

In [ ]:
# 14.	Filter employees who have a SalesAmount greater than 30,000.
df[df['SalesAmount'] > 30000]
df[df['SalesAmount']<30000]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
3,1004,Employee_4,31,Electronics,West,17263,40183,No,3,17780.89
5,1006,Employee_6,22,Groceries,East,25853,41898,No,4,26887.12
6,1007,Employee_7,43,Automobile,West,7695,32586,No,10,8464.50
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64
10,1011,Employee_11,46,Electronics,West,26253,49772,No,7,28090.71
12,1013,Employee_13,41,Clothing,West,5955,28323,No,6,6312.30
14,1015,Employee_15,47,Groceries,South,5377,16274,No,3,5538.31
18,1019,Employee_19,55,Automobile,North,12766,48762,No,9,13914.94
19,1020,Employee_20,36,Automobile,West,28150,15865,Yes,4,29276.00
20,1021,Employee_21,51,Clothing,North,27366,14747,Yes,5,28734.30
21,1022,Employee_22,32,Groceries,East,8939,31223,No,8,9654.12
24,1025,Employee_25,55,Clothing,North,17986,28587,No,7,19245.02
25,1026,Employee_26,55,Automobile,South,21533,47125,No,9,23470.97
28,1029,Employee_29,44,Clothing,West,7157,10232,No,9,7801.13
29,1030,Employee_30,23,Groceries,West,27787,41638,No,6,29454.22
32,1033,Employee_33,49,Clothing,North,29469,10151,Yes,2,30058.38
35,1036,Employee_36,30,Groceries,West,20471,35198,No,6,21699.26
36,1037,Employee_37,26,Clothing,West,25221,20484,Yes,9,27490.89
37,1038,Employee_38,49,Electronics,North,25613,28763,No,10,28174.30
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01
41,1042,Employee_42,37,Home Decor,South,28905,32080,No,9,31506.45
43,1044,Employee_44,53,Automobile,West,11767,38819,No,7,12590.69
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80
48,1049,Employee_49,43,Home Decor,South,17997,12104,Yes,5,18896.85
49,1050,Employee_50,33,Automobile,North,27557,13555,Yes,5,28934.85

In [ ]:
# 15.	Find employees who have a commission percentage greater than 5%.
df[df['CommissionPercentage'] > 5]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
1,1002,Employee_2,26,Home Decor,East,32850,42821,No,9,35806.50
6,1007,Employee_7,43,Automobile,West,7695,32586,No,10,8464.50
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68
10,1011,Employee_11,46,Electronics,West,26253,49772,No,7,28090.71
11,1012,Employee_12,43,Clothing,North,32197,47360,No,6,34128.82
12,1013,Employee_13,41,Clothing,West,5955,28323,No,6,6312.30
13,1014,Employee_14,50,Electronics,West,30025,34692,No,9,32727.25
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60
16,1017,Employee_17,23,Groceries,East,40326,47702,No,6,42745.56
18,1019,Employee_19,55,Automobile,North,12766,48762,No,9,13914.94
21,1022,Employee_22,32,Groceries,East,8939,31223,No,8,9654.12
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52
24,1025,Employee_25,55,Clothing,North,17986,28587,No,7,19245.02
25,1026,Employee_26,55,Automobile,South,21533,47125,No,9,23470.97
26,1027,Employee_27,31,Groceries,East,38560,47726,No,6,40873.60
28,1029,Employee_29,44,Clothing,West,7157,10232,No,9,7801.13
29,1030,Employee_30,23,Groceries,West,27787,41638,No,6,29454.22
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
35,1036,Employee_36,30,Groceries,West,20471,35198,No,6,21699.26
36,1037,Employee_37,26,Clothing,West,25221,20484,Yes,9,27490.89
37,1038,Employee_38,49,Electronics,North,25613,28763,No,10,28174.30
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60
41,1042,Employee_42,37,Home Decor,South,28905,32080,No,9,31506.45
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64
43,1044,Employee_44,53,Automobile,West,11767,38819,No,7,12590.69
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80

In [ ]:
# 16.	Find employees who did not achieve their target.
df[df['TargetAchieved'] == "No"]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
1,1002,Employee_2,26,Home Decor,East,32850,42821,No,9,35806.50
3,1004,Employee_4,31,Electronics,West,17263,40183,No,3,17780.89
5,1006,Employee_6,22,Groceries,East,25853,41898,No,4,26887.12
6,1007,Employee_7,43,Automobile,West,7695,32586,No,10,8464.50
7,1008,Employee_8,37,Groceries,South,47690,49267,No,3,49120.70
10,1011,Employee_11,46,Electronics,West,26253,49772,No,7,28090.71
11,1012,Employee_12,43,Clothing,North,32197,47360,No,6,34128.82
12,1013,Employee_13,41,Clothing,West,5955,28323,No,6,6312.30
13,1014,Employee_14,50,Electronics,West,30025,34692,No,9,32727.25
14,1015,Employee_15,47,Groceries,South,5377,16274,No,3,5538.31
16,1017,Employee_17,23,Groceries,East,40326,47702,No,6,42745.56
18,1019,Employee_19,55,Automobile,North,12766,48762,No,9,13914.94
21,1022,Employee_22,32,Groceries,East,8939,31223,No,8,9654.12
24,1025,Employee_25,55,Clothing,North,17986,28587,No,7,19245.02
25,1026,Employee_26,55,Automobile,South,21533,47125,No,9,23470.97
26,1027,Employee_27,31,Groceries,East,38560,47726,No,6,40873.60
28,1029,Employee_29,44,Clothing,West,7157,10232,No,9,7801.13
29,1030,Employee_30,23,Groceries,West,27787,41638,No,6,29454.22
31,1032,Employee_32,54,Clothing,North,34702,47611,No,3,35743.06
35,1036,Employee_36,30,Groceries,West,20471,35198,No,6,21699.26
37,1038,Employee_38,49,Electronics,North,25613,28763,No,10,28174.30
41,1042,Employee_42,37,Home Decor,South,28905,32080,No,9,31506.45
43,1044,Employee_44,53,Automobile,West,11767,38819,No,7,12590.69
45,1046,Employee_46,51,Automobile,North,32685,48545,No,2,33338.70

In [ ]:
# 17.	Find employees who belong to either "Groceries" or "Automobile" department.
df[(df['Department'] == "Groceries") | (df['Department'] == "Automobile")]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08
5,1006,Employee_6,22,Groceries,East,25853,41898,No,4,26887.12
6,1007,Employee_7,43,Automobile,West,7695,32586,No,10,8464.50
7,1008,Employee_8,37,Groceries,South,47690,49267,No,3,49120.70
14,1015,Employee_15,47,Groceries,South,5377,16274,No,3,5538.31
16,1017,Employee_17,23,Groceries,East,40326,47702,No,6,42745.56
18,1019,Employee_19,55,Automobile,North,12766,48762,No,9,13914.94
19,1020,Employee_20,36,Automobile,West,28150,15865,Yes,4,29276.00
21,1022,Employee_22,32,Groceries,East,8939,31223,No,8,9654.12
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52
23,1024,Employee_24,52,Automobile,North,36688,33729,Yes,3,37788.64
25,1026,Employee_26,55,Automobile,South,21533,47125,No,9,23470.97
26,1027,Employee_27,31,Groceries,East,38560,47726,No,6,40873.60
29,1030,Employee_30,23,Groceries,West,27787,41638,No,6,29454.22
35,1036,Employee_36,30,Groceries,West,20471,35198,No,6,21699.26
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01
40,1041,Employee_41,32,Automobile,East,44983,24131,Yes,3,46332.49
43,1044,Employee_44,53,Automobile,West,11767,38819,No,7,12590.69
45,1046,Employee_46,51,Automobile,North,32685,48545,No,2,33338.70
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80
49,1050,Employee_50,33,Automobile,North,27557,13555,Yes,5,28934.85

In [ ]:
# 18.	Find employees with TotalEarnings greater than 40,000.
df[df['TotalEarnings'] > 40000]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34
7,1008,Employee_8,37,Groceries,South,47690,49267,No,3,49120.70
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60
16,1017,Employee_17,23,Groceries,East,40326,47702,No,6,42745.56
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52
26,1027,Employee_27,31,Groceries,East,38560,47726,No,6,40873.60
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
34,1035,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51
40,1041,Employee_41,32,Automobile,East,44983,24131,Yes,3,46332.49
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05

In [ ]:
# 19.	Find employees who are older than 40 years and achieved their target.
df[(df['Age'] > 40) & (df['TargetAchieved'] == "Yes") ]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64
20,1021,Employee_21,51,Clothing,North,27366,14747,Yes,5,28734.30
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52
23,1024,Employee_24,52,Automobile,North,36688,33729,Yes,3,37788.64
32,1033,Employee_33,49,Clothing,North,29469,10151,Yes,2,30058.38
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
34,1035,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08
48,1049,Employee_49,43,Home Decor,South,17997,12104,Yes,5,18896.85

In [ ]:
# 20. Select employees whose names contain "10".
df[df['Name'].str.contains("10")]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64

Aggregation & Grouping

In [ ]:
# 21.	Find the average sales amount per department.
df.groupby('Department')['SalesAmount'].mean()
df.groupby('Department')['SalesAmount'].mean()

Department
Automobile     26610.818182
Clothing       26593.181818
Electronics    32422.300000
Groceries      27139.000000
Home Decor     36027.750000
Name: SalesAmount, dtype: float64

In [ ]:
# 22.	Count the number of employees in each region.
df.groupby("Region")["EmployeeID"].count()

Region
East     16
North    12
South     6
West     16
Name: EmployeeID, dtype: int64

In [ ]:
# 23.	Find the highest SalesAmount in each department.
df.groupby("Department")["SalesAmount"].max()

Department
Automobile     44983
Clothing       39717
Electronics    49111
Groceries      47690
Home Decor     49578
Name: SalesAmount, dtype: int64

In [ ]:
# 24.	Find the lowest SalesAmount in each department
df.groupby("Department")["SalesAmount"].min()

Department
Automobile      7695
Clothing        5955
Electronics    17263
Groceries       5377
Home Decor     17997
Name: SalesAmount, dtype: int64

In [ ]:
# 25.	Find the employee with the highest total earnings.
df['TotalEarnings'].max()
df[df['TotalEarnings'] == df['TotalEarnings'].max()]

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.6

In [ ]:
# 26.	Count the number of employees who achieved and did not achieve their target
df.groupby('TargetAchieved')['EmployeeID'].count()

TargetAchieved
No     24
Yes    26
Name: EmployeeID, dtype: int64

In [ ]:
# 27.	Find the average commission percentage per department.
df.groupby("Department")["CommissionPercentage"].mean()

Department
Automobile     5.818182
Clothing       5.909091
Electronics    5.900000
Groceries      5.400000
Home Decor     6.375000
Name: CommissionPercentage, dtype: float64

In [ ]:
# 28.	Find the highest TotalEarnings per region.
df.groupby("Region")['TotalEarnings'].max()

Region
East     52860.60
North    40908.51
South    49120.70
West     50282.64
Name: TotalEarnings, dtype: float64

In [ ]:
# 29.	Find the lowest TotalEarnings per department.
df.groupby("Department")['TotalEarnings'].min()

Department
Automobile      8464.50
Clothing        6312.30
Electronics    17780.89
Groceries       5538.31
Home Decor     18896.85
Name: TotalEarnings, dtype: float64

In [ ]:
# 30.	Count the number of employees per department.
df.groupby("Department")['EmployeeID'].count()

Department
Automobile     11
Clothing       11
Electronics    10
Groceries      10
Home Decor      8
Name: EmployeeID, dtype: int64

In [ ]:
import pandas as pd

# Load your file
df = pd.read_csv("/content/drive/MyDrive/SQL/sales_data.csv")

# 31. Remove the EmployeeID column
df = df.drop(columns=["EmployeeID"])

# 32. Reset the index of the DataFrame
df = df.reset_index(drop=True)

# 33. Replace employees who did not achieve the target
df["TargetAchieved"] = df["TargetAchieved"].replace({"No": "Needs Improvement"})

# 34. Create PerformanceLevel column
df["PerformanceLevel"] = df["SalesAmount"].apply(
    lambda x: "High" if x > 40000 else ("Medium" if x >= 20000 else "Low")
)

# 35. Convert Age column to integer
df["Age"] = df["Age"].astype(int)

# 36. Create AboveAverageEarnings column
average_earnings = df["TotalEarnings"].mean()
df["AboveAverageEarnings"] = df["TotalEarnings"].apply(
    lambda x: "Yes" if x > average_earnings else "No"
)

# 37. Convert Department column to categorical
df["Department"] = df["Department"].astype("category")

# 38. Top 5 employees based on Total Earnings
df.nlargest(5, "TotalEarnings")


# 39. Bottom 5 employees based on Total Earnings
df.nsmallest(5, "TotalEarnings")


# 40. Save the modified DataFrame to a new CSV file
df.to_csv("/content/drive/MyDrive/SQL/sales_data_modified.csv", index=False)

print("\nFile saved successfully as: sales_data_modified.csv")

In [ ]:
import pandas as pd

# Load your file
df = pd.read_csv("/content/drive/MyDrive/SQL/sales_data.csv")
df

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00
1,1002,Employee_2,26,Home Decor,East,32850,42821,No,9,35806.50
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34
3,1004,Employee_4,31,Electronics,West,17263,40183,No,3,17780.89
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08
5,1006,Employee_6,22,Groceries,East,25853,41898,No,4,26887.12
6,1007,Employee_7,43,Automobile,West,7695,32586,No,10,8464.50
7,1008,Employee_8,37,Groceries,South,47690,49267,No,3,49120.70
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64
10,1011,Employee_11,46,Electronics,West,26253,49772,No,7,28090.71
11,1012,Employee_12,43,Clothing,North,32197,47360,No,6,34128.82
12,1013,Employee_13,41,Clothing,West,5955,28323,No,6,6312.30
13,1014,Employee_14,50,Electronics,West,30025,34692,No,9,32727.25
14,1015,Employee_15,47,Groceries,South,5377,16274,No,3,5538.31
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60
16,1017,Employee_17,23,Groceries,East,40326,47702,No,6,42745.56
17,1018,Employee_18,31,Home Decor,East,30349,24158,Yes,5,31866.45
18,1019,Employee_19,55,Automobile,North,12766,48762,No,9,13914.94
19,1020,Employee_20,36,Automobile,West,28150,15865,Yes,4,29276.00
20,1021,Employee_21,51,Clothing,North,27366,14747,Yes,5,28734.30
21,1022,Employee_22,32,Groceries,East,8939,31223,No,8,9654.12
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52
23,1024,Employee_24,52,Automobile,North,36688,33729,Yes,3,37788.64
24,1025,Employee_25,55,Clothing,North,17986,28587,No,7,19245.02
25,1026,Employee_26,55,Automobile,South,21533,47125,No,9,23470.97
26,1027,Employee_27,31,Groceries,East,38560,47726,No,6,40873.60
27,1028,Employee_28,33,Electronics,West,33593,23312,Yes,5,35272.65
28,1029,Employee_29,44,Clothing,West,7157,10232,No,9,7801.13
29,1030,Employee_30,23,Groceries,West,27787,41638,No,6,29454.22
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26
31,1032,Employee_32,54,Clothing,North,34702,47611,No,3,35743.06
32,1033,Employee_33,49,Clothing,North,29469,10151,Yes,2,30058.38
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
34,1035,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51
35,1036,Employee_36,30,Groceries,West,20471,35198,No,6,21699.26
36,1037,Employee_37,26,Clothing,West,25221,20484,Yes,9,27490.89
37,1038,Employee_38,49,Electronics,North,25613,28763,No,10,28174.30
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01
40,1041,Employee_41,32,Automobile,East,44983,24131,Yes,3,46332.49
41,1042,Employee_42,37,Home Decor,South,28905,32080,No,9,31506.45
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64
43,1044,Employee_44,53,Automobile,West,11767,38819,No,7,12590.69
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08
45,1046,Employee_46,51,Automobile,North,32685,48545,No,2,33338.70
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80
48,1049,Employee_49,43,Home Decor,South,17997,12104,Yes,5,18896.85
49,1050,Employee_50,33,Automobile,North,27557,13555,Yes,5,28934.85

In [ ]:
# 31. Remove the EmployeeID column
df = df.drop(columns=["EmployeeID"],inplace=True)

In [ ]:
# 32. Reset the index of the DataFrame
df = df.reset_index(drop=True)
df

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00
1,1002,Employee_2,26,Home Decor,East,32850,42821,Needs Improvement,9,35806.50
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34
3,1004,Employee_4,31,Electronics,West,17263,40183,Needs Improvement,3,17780.89
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08
5,1006,Employee_6,22,Groceries,East,25853,41898,Needs Improvement,4,26887.12
6,1007,Employee_7,43,Automobile,West,7695,32586,Needs Improvement,10,8464.50
7,1008,Employee_8,37,Groceries,South,47690,49267,Needs Improvement,3,49120.70
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64
10,1011,Employee_11,46,Electronics,West,26253,49772,Needs Improvement,7,28090.71
11,1012,Employee_12,43,Clothing,North,32197,47360,Needs Improvement,6,34128.82
12,1013,Employee_13,41,Clothing,West,5955,28323,Needs Improvement,6,6312.30
13,1014,Employee_14,50,Electronics,West,30025,34692,Needs Improvement,9,32727.25
14,1015,Employee_15,47,Groceries,South,5377,16274,Needs Improvement,3,5538.31
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60
16,1017,Employee_17,23,Groceries,East,40326,47702,Needs Improvement,6,42745.56
17,1018,Employee_18,31,Home Decor,East,30349,24158,Yes,5,31866.45
18,1019,Employee_19,55,Automobile,North,12766,48762,Needs Improvement,9,13914.94
19,1020,Employee_20,36,Automobile,West,28150,15865,Yes,4,29276.00
20,1021,Employee_21,51,Clothing,North,27366,14747,Yes,5,28734.30
21,1022,Employee_22,32,Groceries,East,8939,31223,Needs Improvement,8,9654.12
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52
23,1024,Employee_24,52,Automobile,North,36688,33729,Yes,3,37788.64
24,1025,Employee_25,55,Clothing,North,17986,28587,Needs Improvement,7,19245.02
25,1026,Employee_26,55,Automobile,South,21533,47125,Needs Improvement,9,23470.97
26,1027,Employee_27,31,Groceries,East,38560,47726,Needs Improvement,6,40873.60
27,1028,Employee_28,33,Electronics,West,33593,23312,Yes,5,35272.65
28,1029,Employee_29,44,Clothing,West,7157,10232,Needs Improvement,9,7801.13
29,1030,Employee_30,23,Groceries,West,27787,41638,Needs Improvement,6,29454.22
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26
31,1032,Employee_32,54,Clothing,North,34702,47611,Needs Improvement,3,35743.06
32,1033,Employee_33,49,Clothing,North,29469,10151,Yes,2,30058.38
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
34,1035,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51
35,1036,Employee_36,30,Groceries,West,20471,35198,Needs Improvement,6,21699.26
36,1037,Employee_37,26,Clothing,West,25221,20484,Yes,9,27490.89
37,1038,Employee_38,49,Electronics,North,25613,28763,Needs Improvement,10,28174.30
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01
40,1041,Employee_41,32,Automobile,East,44983,24131,Yes,3,46332.49
41,1042,Employee_42,37,Home Decor,South,28905,32080,Needs Improvement,9,31506.45
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64
43,1044,Employee_44,53,Automobile,West,11767,38819,Needs Improvement,7,12590.69
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08
45,1046,Employee_46,51,Automobile,North,32685,48545,Needs Improvement,2,33338.70
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80
48,1049,Employee_49,43,Home Decor,South,17997,12104,Yes,5,18896.85
49,1050,Employee_50,33,Automobile,North,27557,13555,Yes,5,28934.85

In [ ]:
# 33. Replace employees who did not achieve the target
df["TargetAchieved"] = df["TargetAchieved"].replace({"No": "Needs Improvement"})
df

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00
1,1002,Employee_2,26,Home Decor,East,32850,42821,Needs Improvement,9,35806.50
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34
3,1004,Employee_4,31,Electronics,West,17263,40183,Needs Improvement,3,17780.89
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08
5,1006,Employee_6,22,Groceries,East,25853,41898,Needs Improvement,4,26887.12
6,1007,Employee_7,43,Automobile,West,7695,32586,Needs Improvement,10,8464.50
7,1008,Employee_8,37,Groceries,South,47690,49267,Needs Improvement,3,49120.70
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64
10,1011,Employee_11,46,Electronics,West,26253,49772,Needs Improvement,7,28090.71
11,1012,Employee_12,43,Clothing,North,32197,47360,Needs Improvement,6,34128.82
12,1013,Employee_13,41,Clothing,West,5955,28323,Needs Improvement,6,6312.30
13,1014,Employee_14,50,Electronics,West,30025,34692,Needs Improvement,9,32727.25
14,1015,Employee_15,47,Groceries,South,5377,16274,Needs Improvement,3,5538.31
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60
16,1017,Employee_17,23,Groceries,East,40326,47702,Needs Improvement,6,42745.56
17,1018,Employee_18,31,Home Decor,East,30349,24158,Yes,5,31866.45
18,1019,Employee_19,55,Automobile,North,12766,48762,Needs Improvement,9,13914.94
19,1020,Employee_20,36,Automobile,West,28150,15865,Yes,4,29276.00
20,1021,Employee_21,51,Clothing,North,27366,14747,Yes,5,28734.30
21,1022,Employee_22,32,Groceries,East,8939,31223,Needs Improvement,8,9654.12
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52
23,1024,Employee_24,52,Automobile,North,36688,33729,Yes,3,37788.64
24,1025,Employee_25,55,Clothing,North,17986,28587,Needs Improvement,7,19245.02
25,1026,Employee_26,55,Automobile,South,21533,47125,Needs Improvement,9,23470.97
26,1027,Employee_27,31,Groceries,East,38560,47726,Needs Improvement,6,40873.60
27,1028,Employee_28,33,Electronics,West,33593,23312,Yes,5,35272.65
28,1029,Employee_29,44,Clothing,West,7157,10232,Needs Improvement,9,7801.13
29,1030,Employee_30,23,Groceries,West,27787,41638,Needs Improvement,6,29454.22
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26
31,1032,Employee_32,54,Clothing,North,34702,47611,Needs Improvement,3,35743.06
32,1033,Employee_33,49,Clothing,North,29469,10151,Yes,2,30058.38
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
34,1035,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51
35,1036,Employee_36,30,Groceries,West,20471,35198,Needs Improvement,6,21699.26
36,1037,Employee_37,26,Clothing,West,25221,20484,Yes,9,27490.89
37,1038,Employee_38,49,Electronics,North,25613,28763,Needs Improvement,10,28174.30
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01
40,1041,Employee_41,32,Automobile,East,44983,24131,Yes,3,46332.49
41,1042,Employee_42,37,Home Decor,South,28905,32080,Needs Improvement,9,31506.45
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64
43,1044,Employee_44,53,Automobile,West,11767,38819,Needs Improvement,7,12590.69
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08
45,1046,Employee_46,51,Automobile,North,32685,48545,Needs Improvement,2,33338.70
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80
48,1049,Employee_49,43,Home Decor,South,17997,12104,Yes,5,18896.85
49,1050,Employee_50,33,Automobile,North,27557,13555,Yes,5,28934.85

In [ ]:
# 34. Create PerformanceLevel column
df["PerformanceLevel"] = df["SalesAmount"].apply(lambda x: "High" if x > 40000 else ("Medium" if x >= 20000 else "Low"))
df

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings,PerformanceLevel
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00,Medium
1,1002,Employee_2,26,Home Decor,East,32850,42821,Needs Improvement,9,35806.50,Medium
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34,High
3,1004,Employee_4,31,Electronics,West,17263,40183,Needs Improvement,3,17780.89,Low
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08,Medium
5,1006,Employee_6,22,Groceries,East,25853,41898,Needs Improvement,4,26887.12,Medium
6,1007,Employee_7,43,Automobile,West,7695,32586,Needs Improvement,10,8464.50,Low
7,1008,Employee_8,37,Groceries,South,47690,49267,Needs Improvement,3,49120.70,High
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68,High
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64,Low
10,1011,Employee_11,46,Electronics,West,26253,49772,Needs Improvement,7,28090.71,Medium
11,1012,Employee_12,43,Clothing,North,32197,47360,Needs Improvement,6,34128.82,Medium
12,1013,Employee_13,41,Clothing,West,5955,28323,Needs Improvement,6,6312.30,Low
13,1014,Employee_14,50,Electronics,West,30025,34692,Needs Improvement,9,32727.25,Medium
14,1015,Employee_15,47,Groceries,South,5377,16274,Needs Improvement,3,5538.31,Low
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60,High
16,1017,Employee_17,23,Groceries,East,40326,47702,Needs Improvement,6,42745.56,High
17,1018,Employee_18,31,Home Decor,East,30349,24158,Yes,5,31866.45,Medium
18,1019,Employee_19,55,Automobile,North,12766,48762,Needs Improvement,9,13914.94,Low
19,1020,Employee_20,36,Automobile,West,28150,15865,Yes,4,29276.00,Medium
20,1021,Employee_21,51,Clothing,North,27366,14747,Yes,5,28734.30,Medium
21,1022,Employee_22,32,Groceries,East,8939,31223,Needs Improvement,8,9654.12,Low
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52,High
23,1024,Employee_24,52,Automobile,North,36688,33729,Yes,3,37788.64,Medium
24,1025,Employee_25,55,Clothing,North,17986,28587,Needs Improvement,7,19245.02,Low
25,1026,Employee_26,55,Automobile,South,21533,47125,Needs Improvement,9,23470.97,Medium
26,1027,Employee_27,31,Groceries,East,38560,47726,Needs Improvement,6,40873.60,Medium
27,1028,Employee_28,33,Electronics,West,33593,23312,Yes,5,35272.65,Medium
28,1029,Employee_29,44,Clothing,West,7157,10232,Needs Improvement,9,7801.13,Low
29,1030,Employee_30,23,Groceries,West,27787,41638,Needs Improvement,6,29454.22,Medium
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26,Medium
31,1032,Employee_32,54,Clothing,North,34702,47611,Needs Improvement,3,35743.06,Medium
32,1033,Employee_33,49,Clothing,North,29469,10151,Yes,2,30058.38,Medium
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66,High
34,1035,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51,Medium
35,1036,Employee_36,30,Groceries,West,20471,35198,Needs Improvement,6,21699.26,Medium
36,1037,Employee_37,26,Clothing,West,25221,20484,Yes,9,27490.89,Medium
37,1038,Employee_38,49,Electronics,North,25613,28763,Needs Improvement,10,28174.30,Medium
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60,Medium
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01,Medium
40,1041,Employee_41,32,Automobile,East,44983,24131,Yes,3,46332.49,High
41,1042,Employee_42,37,Home Decor,South,28905,32080,Needs Improvement,9,31506.45,Medium
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64,High
43,1044,Employee_44,53,Automobile,West,11767,38819,Needs Improvement,7,12590.69,Low
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08,High
45,1046,Employee_46,51,Automobile,North,32685,48545,Needs Improvement,2,33338.70,Medium
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05,Medium
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80,Low
48,1049,Employee_49,43,Home Decor,South,17997,12104,Yes,5,18896.85,Low
49,1050,Employee_50,33,Automobile,North,27557,13555,Yes,5,28934.85,Medium

In [ ]:
# 35. Convert Age column to integer
df['Age']=df["Age"].astype(int)
df

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings,PerformanceLevel
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00,Medium
1,1002,Employee_2,26,Home Decor,East,32850,42821,Needs Improvement,9,35806.50,Medium
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34,High
3,1004,Employee_4,31,Electronics,West,17263,40183,Needs Improvement,3,17780.89,Low
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08,Medium
5,1006,Employee_6,22,Groceries,East,25853,41898,Needs Improvement,4,26887.12,Medium
6,1007,Employee_7,43,Automobile,West,7695,32586,Needs Improvement,10,8464.50,Low
7,1008,Employee_8,37,Groceries,South,47690,49267,Needs Improvement,3,49120.70,High
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68,High
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64,Low
10,1011,Employee_11,46,Electronics,West,26253,49772,Needs Improvement,7,28090.71,Medium
11,1012,Employee_12,43,Clothing,North,32197,47360,Needs Improvement,6,34128.82,Medium
12,1013,Employee_13,41,Clothing,West,5955,28323,Needs Improvement,6,6312.30,Low
13,1014,Employee_14,50,Electronics,West,30025,34692,Needs Improvement,9,32727.25,Medium
14,1015,Employee_15,47,Groceries,South,5377,16274,Needs Improvement,3,5538.31,Low
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60,High
16,1017,Employee_17,23,Groceries,East,40326,47702,Needs Improvement,6,42745.56,High
17,1018,Employee_18,31,Home Decor,East,30349,24158,Yes,5,31866.45,Medium
18,1019,Employee_19,55,Automobile,North,12766,48762,Needs Improvement,9,13914.94,Low
19,1020,Employee_20,36,Automobile,West,28150,15865,Yes,4,29276.00,Medium
20,1021,Employee_21,51,Clothing,North,27366,14747,Yes,5,28734.30,Medium
21,1022,Employee_22,32,Groceries,East,8939,31223,Needs Improvement,8,9654.12,Low
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52,High
23,1024,Employee_24,52,Automobile,North,36688,33729,Yes,3,37788.64,Medium
24,1025,Employee_25,55,Clothing,North,17986,28587,Needs Improvement,7,19245.02,Low
25,1026,Employee_26,55,Automobile,South,21533,47125,Needs Improvement,9,23470.97,Medium
26,1027,Employee_27,31,Groceries,East,38560,47726,Needs Improvement,6,40873.60,Medium
27,1028,Employee_28,33,Electronics,West,33593,23312,Yes,5,35272.65,Medium
28,1029,Employee_29,44,Clothing,West,7157,10232,Needs Improvement,9,7801.13,Low
29,1030,Employee_30,23,Groceries,West,27787,41638,Needs Improvement,6,29454.22,Medium
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26,Medium
31,1032,Employee_32,54,Clothing,North,34702,47611,Needs Improvement,3,35743.06,Medium
32,1033,Employee_33,49,Clothing,North,29469,10151,Yes,2,30058.38,Medium
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66,High
34,1035,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51,Medium
35,1036,Employee_36,30,Groceries,West,20471,35198,Needs Improvement,6,21699.26,Medium
36,1037,Employee_37,26,Clothing,West,25221,20484,Yes,9,27490.89,Medium
37,1038,Employee_38,49,Electronics,North,25613,28763,Needs Improvement,10,28174.30,Medium
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60,Medium
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01,Medium
40,1041,Employee_41,32,Automobile,East,44983,24131,Yes,3,46332.49,High
41,1042,Employee_42,37,Home Decor,South,28905,32080,Needs Improvement,9,31506.45,Medium
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64,High
43,1044,Employee_44,53,Automobile,West,11767,38819,Needs Improvement,7,12590.69,Low
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08,High
45,1046,Employee_46,51,Automobile,North,32685,48545,Needs Improvement,2,33338.70,Medium
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05,Medium
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80,Low
48,1049,Employee_49,43,Home Decor,South,17997,12104,Yes,5,18896.85,Low
49,1050,Employee_50,33,Automobile,North,27557,13555,Yes,5,28934.85,Medium

In [ ]:
# 36. Create AboveAverageEarnings column
average_earnings = df["TotalEarnings"].mean()
df["AboveAverageEarnings"] = df["TotalEarnings"].apply(
    lambda x: "Yes" if x > average_earnings else "No"
)
df

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings,PerformanceLevel,AboveAverageEarnings
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00,Medium,Yes
1,1002,Employee_2,26,Home Decor,East,32850,42821,Needs Improvement,9,35806.50,Medium,Yes
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34,High,Yes
3,1004,Employee_4,31,Electronics,West,17263,40183,Needs Improvement,3,17780.89,Low,No
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08,Medium,Yes
5,1006,Employee_6,22,Groceries,East,25853,41898,Needs Improvement,4,26887.12,Medium,No
6,1007,Employee_7,43,Automobile,West,7695,32586,Needs Improvement,10,8464.50,Low,No
7,1008,Employee_8,37,Groceries,South,47690,49267,Needs Improvement,3,49120.70,High,Yes
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68,High,Yes
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64,Low,No
10,1011,Employee_11,46,Electronics,West,26253,49772,Needs Improvement,7,28090.71,Medium,No
11,1012,Employee_12,43,Clothing,North,32197,47360,Needs Improvement,6,34128.82,Medium,Yes
12,1013,Employee_13,41,Clothing,West,5955,28323,Needs Improvement,6,6312.30,Low,No
13,1014,Employee_14,50,Electronics,West,30025,34692,Needs Improvement,9,32727.25,Medium,Yes
14,1015,Employee_15,47,Groceries,South,5377,16274,Needs Improvement,3,5538.31,Low,No
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60,High,Yes
16,1017,Employee_17,23,Groceries,East,40326,47702,Needs Improvement,6,42745.56,High,Yes
17,1018,Employee_18,31,Home Decor,East,30349,24158,Yes,5,31866.45,Medium,Yes
18,1019,Employee_19,55,Automobile,North,12766,48762,Needs Improvement,9,13914.94,Low,No
19,1020,Employee_20,36,Automobile,West,28150,15865,Yes,4,29276.00,Medium,No
20,1021,Employee_21,51,Clothing,North,27366,14747,Yes,5,28734.30,Medium,No
21,1022,Employee_22,32,Groceries,East,8939,31223,Needs Improvement,8,9654.12,Low,No
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52,High,Yes
23,1024,Employee_24,52,Automobile,North,36688,33729,Yes,3,37788.64,Medium,Yes
24,1025,Employee_25,55,Clothing,North,17986,28587,Needs Improvement,7,19245.02,Low,No
25,1026,Employee_26,55,Automobile,South,21533,47125,Needs Improvement,9,23470.97,Medium,No
26,1027,Employee_27,31,Groceries,East,38560,47726,Needs Improvement,6,40873.60,Medium,Yes
27,1028,Employee_28,33,Electronics,West,33593,23312,Yes,5,35272.65,Medium,Yes
28,1029,Employee_29,44,Clothing,West,7157,10232,Needs Improvement,9,7801.13,Low,No
29,1030,Employee_30,23,Groceries,West,27787,41638,Needs Improvement,6,29454.22,Medium,No
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26,Medium,Yes
31,1032,Employee_32,54,Clothing,North,34702,47611,Needs Improvement,3,35743.06,Medium,Yes
32,1033,Employee_33,49,Clothing,North,29469,10151,Yes,2,30058.38,Medium,No
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66,High,Yes
34,1035,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51,Medium,Yes
35,1036,Employee_36,30,Groceries,West,20471,35198,Needs Improvement,6,21699.26,Medium,No
36,1037,Employee_37,26,Clothing,West,25221,20484,Yes,9,27490.89,Medium,No
37,1038,Employee_38,49,Electronics,North,25613,28763,Needs Improvement,10,28174.30,Medium,No
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60,Medium,Yes
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01,Medium,No
40,1041,Employee_41,32,Automobile,East,44983,24131,Yes,3,46332.49,High,Yes
41,1042,Employee_42,37,Home Decor,South,28905,32080,Needs Improvement,9,31506.45,Medium,Yes
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64,High,Yes
43,1044,Employee_44,53,Automobile,West,11767,38819,Needs Improvement,7,12590.69,Low,No
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08,High,Yes
45,1046,Employee_46,51,Automobile,North,32685,48545,Needs Improvement,2,33338.70,Medium,Yes
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05,Medium,Yes
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80,Low,No
48,1049,Employee_49,43,Home Decor,South,17997,12104,Yes,5,18896.85,Low,No
49,1050,Employee_50,33,Automobile,North,27557,13555,Yes,5,28934.85,Medium,No

In [ ]:
# 37. Convert Department column to categorical
df["Department"] = df["Department"].astype("category")
df

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings,PerformanceLevel,AboveAverageEarnings
0,1001,Employee_1,28,Electronics,North,34200,17968,Yes,5,35910.00,Medium,Yes
1,1002,Employee_2,26,Home Decor,East,32850,42821,Needs Improvement,9,35806.50,Medium,Yes
2,1003,Employee_3,22,Home Decor,South,43267,40728,Yes,2,44132.34,High,Yes
3,1004,Employee_4,31,Electronics,West,17263,40183,Needs Improvement,3,17780.89,Low,No
4,1005,Employee_5,49,Groceries,East,37427,17010,Yes,4,38924.08,Medium,Yes
5,1006,Employee_6,22,Groceries,East,25853,41898,Needs Improvement,4,26887.12,Medium,No
6,1007,Employee_7,43,Automobile,West,7695,32586,Needs Improvement,10,8464.50,Low,No
7,1008,Employee_8,37,Groceries,South,47690,49267,Needs Improvement,3,49120.70,High,Yes
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68,High,Yes
9,1010,Employee_10,52,Electronics,East,18766,14392,Yes,4,19516.64,Low,No
10,1011,Employee_11,46,Electronics,West,26253,49772,Needs Improvement,7,28090.71,Medium,No
11,1012,Employee_12,43,Clothing,North,32197,47360,Needs Improvement,6,34128.82,Medium,Yes
12,1013,Employee_13,41,Clothing,West,5955,28323,Needs Improvement,6,6312.30,Low,No
13,1014,Employee_14,50,Electronics,West,30025,34692,Needs Improvement,9,32727.25,Medium,Yes
14,1015,Employee_15,47,Groceries,South,5377,16274,Needs Improvement,3,5538.31,Low,No
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60,High,Yes
16,1017,Employee_17,23,Groceries,East,40326,47702,Needs Improvement,6,42745.56,High,Yes
17,1018,Employee_18,31,Home Decor,East,30349,24158,Yes,5,31866.45,Medium,Yes
18,1019,Employee_19,55,Automobile,North,12766,48762,Needs Improvement,9,13914.94,Low,No
19,1020,Employee_20,36,Automobile,West,28150,15865,Yes,4,29276.00,Medium,No
20,1021,Employee_21,51,Clothing,North,27366,14747,Yes,5,28734.30,Medium,No
21,1022,Employee_22,32,Groceries,East,8939,31223,Needs Improvement,8,9654.12,Low,No
22,1023,Employee_23,47,Automobile,East,41728,19652,Yes,9,45483.52,High,Yes
23,1024,Employee_24,52,Automobile,North,36688,33729,Yes,3,37788.64,Medium,Yes
24,1025,Employee_25,55,Clothing,North,17986,28587,Needs Improvement,7,19245.02,Low,No
25,1026,Employee_26,55,Automobile,South,21533,47125,Needs Improvement,9,23470.97,Medium,No
26,1027,Employee_27,31,Groceries,East,38560,47726,Needs Improvement,6,40873.60,Medium,Yes
27,1028,Employee_28,33,Electronics,West,33593,23312,Yes,5,35272.65,Medium,Yes
28,1029,Employee_29,44,Clothing,West,7157,10232,Needs Improvement,9,7801.13,Low,No
29,1030,Employee_30,23,Groceries,West,27787,41638,Needs Improvement,6,29454.22,Medium,No
30,1031,Employee_31,40,Home Decor,West,38718,25399,Yes,7,41428.26,Medium,Yes
31,1032,Employee_32,54,Clothing,North,34702,47611,Needs Improvement,3,35743.06,Medium,Yes
32,1033,Employee_33,49,Clothing,North,29469,10151,Yes,2,30058.38,Medium,No
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66,High,Yes
34,1035,Employee_35,41,Clothing,North,39717,12490,Yes,3,40908.51,Medium,Yes
35,1036,Employee_36,30,Groceries,West,20471,35198,Needs Improvement,6,21699.26,Medium,No
36,1037,Employee_37,26,Clothing,West,25221,20484,Yes,9,27490.89,Medium,No
37,1038,Employee_38,49,Electronics,North,25613,28763,Needs Improvement,10,28174.30,Medium,No
38,1039,Employee_39,55,Clothing,West,35710,34422,Yes,6,37852.60,Medium,Yes
39,1040,Employee_40,44,Automobile,West,27167,25440,Yes,3,27982.01,Medium,No
40,1041,Employee_41,32,Automobile,East,44983,24131,Yes,3,46332.49,High,Yes
41,1042,Employee_42,37,Home Decor,South,28905,32080,Needs Improvement,9,31506.45,Medium,Yes
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64,High,Yes
43,1044,Employee_44,53,Automobile,West,11767,38819,Needs Improvement,7,12590.69,Low,No
44,1045,Employee_45,53,Electronics,East,40454,19416,Yes,2,41263.08,High,Yes
45,1046,Employee_46,51,Automobile,North,32685,48545,Needs Improvement,2,33338.70,Medium,Yes
46,1047,Employee_47,31,Clothing,East,37045,10613,Yes,9,40379.05,Medium,Yes
47,1048,Employee_48,35,Groceries,East,18960,12567,Yes,8,20476.80,Low,No
48,1049,Employee_49,43,Home Decor,South,17997,12104,Yes,5,18896.85,Low,No
49,1050,Employee_50,33,Automobile,North,27557,13555,Yes,5,28934.85,Medium,No

In [ ]:
# 38. Top 5 employees based on Total Earnings
df.nlargest(5, "TotalEarnings")

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
15,1016,Employee_16,22,Electronics,East,48945,44965,Yes,8,52860.60
8,1009,Employee_9,31,Home Decor,East,49578,22738,Yes,6,52552.68
33,1034,Employee_34,42,Electronics,East,49111,31797,Yes,6,52057.66
42,1043,Employee_43,33,Home Decor,West,46558,15582,Yes,8,50282.64
7,1008,Employee_8,37,Groceries,South,47690,49267,No,3,49120.70

In [ ]:
# 39. Bottom 5 employees based on Total Earnings
df.nsmallest(5, "TotalEarnings")

,EmployeeID,Name,Age,Department,Region,SalesAmount,Target,TargetAchieved,CommissionPercentage,TotalEarnings
14,1015,Employee_15,47,Groceries,South,5377,16274,No,3,5538.31
12,1013,Employee_13,41,Clothing,West,5955,28323,No,6,6312.30
28,1029,Employee_29,44,Clothing,West,7157,10232,No,9,7801.13
6,1007,Employee_7,43,Automobile,West,7695,32586,No,10,8464.50
21,1022,Employee_22,32,Groceries,East,8939,31223,No,8,9654.12

In [ ]:
# 40. Save the modified DataFrame to a new CSV file
df.to_csv("Cleaned Sales Data.csv", index=False)

NameError: name 'df' is not defined