<a href="https://colab.research.google.com/github/ranikanhe/project-with-Python-Assignment/blob/main/3_List_in_python_jpynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1- Write a program to access the third element from the given list.Input: [10, 20, 30, 40, 50]
# Output: 30

In [ ]:
A = [10,20,30,40,50]
print((A)[2])

30

In [ ]:
# 2 Write a program to access the last element from the given list using negative indexing.
# Input: ['apple', 'banana', 'cherry', 'date']
# Output: date

In [ ]:
list = ['apple', 'banana', 'cherry', 'date']
print((list)[-1])

date

In [ ]:
# 3 Write a program to change the second element to 100 in the given list.
# Input: [5, 10, 15, 20, 25]
# Output: [5, 100, 15, 20, 25]

In [ ]:
list = [5, 10, 15, 20, 25]
list[1] = 100
print(list)

[5, 100, 15, 20, 25]

In [ ]:
# 4 Write a program to access the first element using negative indexing.
# Input: [7, 14, 21, 28, 35]
# Output: 7

In [ ]:
list = [7, 14, 21, 28, 35]
print(list[0])

7

In [ ]:

# 5 Write a program to access the second last element from the given list.
# Input: [1, 2, 3, 4, 5, 6]
# Output: 5

In [ ]:
list = [1, 2, 3, 4, 5, 6]
print(list[4])

5

In [ ]:
# Slicing Questions

In [ ]:
# 6 Write a program to extract the first three elements from the given list.
# Input: [100, 200, 300, 400, 500, 600]
# Output: [100, 200, 300]

In [ ]:
list = [100, 200, 300, 400, 500, 600]
print(list[0:3])

[100, 200, 300]

In [ ]:
# 7 Write a program to extract all elements except the first two from the given list.
# Input: [2, 4, 6, 8, 10, 12]
# Output: [6, 8, 10, 12]

In [ ]:
list = [2, 4, 6, 8, 10, 12]
print(list[2:])

[6, 8, 10, 12]

In [ ]:
# 8 Write a program to extract every alternate element from the given list.
# Input: [5, 10, 15, 20, 25, 30, 35]
# Output: [5, 15, 25, 35]

In [ ]:
list = [5, 10, 15, 20, 25, 30, 35]
print(list[0::2])

[5, 15, 25, 35]

In [ ]:
# 9 Write a program to reverse the given list using slicing.
# Input: [1, 3, 5, 7, 9]
# Output: [9, 7, 5, 3, 1]

In [ ]:
list = [1, 3, 5, 7, 9]
print(list[::-1])

[9, 7, 5, 3, 1]

In [ ]:
# 10 Write a program to extract elements from index 2 to 5 from the given list.
# Input: [11, 22, 33, 44, 55, 66, 77]
# Output: [33, 44, 55, 66]

In [ ]:
my_list= [11, 22, 33, 44, 55, 66, 77]
print(my_list[2:6])

[33, 44, 55, 66]

In [ ]:
# Nested Slicing Questions

In [ ]:
# 11 Write a program to access the second element from the first nested list.
# Input: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# Output: 2

In [ ]:
my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(my_list[0][1])

2

In [ ]:
# 12 Write a program to extract the last element from the last nested list.
# Input: [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]
# Output: i

In [ ]:
my_list  = [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]
print(my_list[-1][2])

i

In [ ]:
# 13 Write a program to extract the second and third lists from a given nested list.
# Input: [[10, 20], [30, 40], [50, 60], [70, 80]]
# Output: [[30, 40], [50, 60]]

In [ ]:
list = [[10, 20], [30, 40], [50, 60], [70, 80]]
print(list[1:3])

[[30, 40], [50, 60]]

In [ ]:
# 14 Write a program to extract the second element from all nested lists.
# Input: [[1, 9], [2, 8], [3, 7], [4, 6]]
# Output: [9, 8, 7, 6]

In [ ]:
list = [[1, 9], [2, 8], [3, 7], [4, 6]]
s=(list[0][1],list[1][1],list[2][1],list[3][1])
print(s)

(9, 8, 7, 6)

In [ ]:
# 15 Write a program to reverse all sublists in a nested list.
# Input: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# Output: [[3, 2, 1], [6, 5, 4], [9, 8, 7]]

In [ ]:
list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new = [sorted(list[0], reverse = True),sorted(list[1],reverse = True),sorted(list[2],reverse = True)]
print(new)

[[3, 2, 1], [6, 5, 4], [9, 8, 7]]

In [ ]:
# append() Function Questions

In [ ]:
# 1- Write a program to append the number 100 to the given list.
# Input: [10, 20, 30, 40]
# Output: [10, 20, 30, 40, 100]

In [ ]:
list = [10, 20, 30, 40]
new = list+[100]
print(new)

[10, 20, 30, 40, 100]

In [ ]:
# 2 Write a program to append a string "Hello" to the given list.
# Input: ['apple', 'banana', 'cherry']
# Output: ['apple', 'banana', 'cherry', 'Hello']

In [ ]:
list = ['apple', 'banana', 'cherry']
new = list + ["Hello"]
print(new)

['apple', 'banana', 'cherry', 'Hello']

In [ ]:
# 3 Write a program to append a list [5, 6, 7] as a single element in the given list.
# Input: [1, 2, 3, 4]
# Output: [1, 2, 3, 4, [5, 6, 7]]

In [ ]:
list = [1, 2, 3, 4]
new = list + [[5,6,7]]
print(new)

[1, 2, 3, 4, [5, 6, 7]]

In [ ]:
# extend() Function Questions

In [ ]:
# 4 Write a program to extend the given list by adding another list [50, 60, 70].
# Input: [10, 20, 30, 40]
# Output: [10, 20, 30, 40, 50, 60, 70]

In [ ]:
list = [10, 20, 30, 40]
new  = list + [50,60,70]
print(new)

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
# 5 Write a program to extend a list of numbers [7, 8, 9] with another list [10, 11, 12].
# Input: [7, 8, 9]
# Output: [7, 8, 9, 10, 11, 12]

In [ ]:
list =  [7, 8, 9]
new = list + [10,11,12]
print(new)

[7, 8, 9, 10, 11, 12]

In [ ]:
# 6 Write a program to extend a list of strings ["cat", "dog"] with another list ["lion", "tiger"].
# Input: ["cat", "dog"]
# Output: ["cat", "dog", "lion", "tiger"]

In [ ]:
list = ["cat", "dog"]
new = list + ["lion", "tiger"]
print(new)

['cat', 'dog', 'lion', 'tiger']

In [ ]:
# pop() Function Questions

In [ ]:
# 7 Write a program to remove the last element from the given list using the pop function.
# Input: [10, 20, 30, 40]
# Output: [10, 20, 30]

In [ ]:
list = [10, 20, 30, 40]
list.pop()
print(list)

[10, 20, 30]

In [ ]:
my_list = [10, 20, 30, 40]
my_list.pop()
print(my_list)

[10, 20, 30]

In [ ]:
# 8 Write a program to remove the third element from the given list using the pop function.
# Input: [1, 2, 3, 4, 5]
# Output: [1, 2, 4, 5]

In [ ]:
list = [1, 2, 3, 4, 5]
list.pop(2)
print(list)

[1, 2, 4, 5]

In [ ]:
# 9 Write a program to remove the first element from the given list using the pop function.
# Input: [100, 200, 300, 400]
# Output: [200, 300, 400]

In [ ]:
list = [100, 200, 300, 400]
list.pop(0)
print(list)

[200, 300, 400]

In [ ]:
# remove() Function Questions

In [ ]:
# 10 Write a program to remove the element 20 from the given list.
# Input: [10, 20, 30, 40, 50]
# Output: [10, 30, 40, 50]

In [ ]:
list = [10, 20, 30, 40, 50]
list.pop(1)
print(list)

[10, 30, 40, 50]

In [ ]:
# 11 Write a program to remove the first occurrence of "apple" from the given list.
# Input: ["banana", "apple", "cherry", "apple"]
# Output: ["banana", "cherry", "apple"]

In [ ]:
list = ["banana", "apple", "cherry", "apple"]
list.pop(1)
print(list)

['banana', 'cherry', 'apple']

In [ ]:
# 12 Write a program to remove the number 5 from the given list if it exists.
# Input: [1, 2, 3, 4, 5, 6]
# Output: [1, 2, 3, 4, 6]

In [ ]:
list = [1, 2, 3, 4, 5, 6]
list.pop(4)
print(list)

[1, 2, 3, 4, 6]

In [ ]:
# index() Function Questions

In [ ]:
# 13 Write a program to find the index of the element 50 in the given list.
# Input: [10, 20, 30, 40, 50, 60]
# Output: 4

In [ ]:
list = [10, 20, 30, 40, 50, 60]
print(list.index(50))

4

In [ ]:
# 14 Write a program to find the index of "cherry" in the given list.
# Input: ["apple", "banana", "cherry", "date"]
# Output: 2

In [ ]:
list = ["apple", "banana", "cherry", "date"]
print(list.index("cherry"))

2

In [ ]:
# 15 Write a program to find the index of the number 100 in the given list. If not found, print "Not found".
# Input: [10, 20, 30, 40]
# Output: "Not found"

In [ ]:
list = [10, 20, 30, 40]
try:
    index = list.index(100)
    print(index)
except ValueError:
    print("Not found")

Not found

In [ ]:
# count() Function Questions

In [ ]:
# 16 Write a program to count the occurrences of 5 in the given list.
# Input: [1, 5, 2, 5, 3, 5, 4]
# Output: 3

In [ ]:
list = [1, 5, 2, 5, 3, 5, 4]
print(list.count(5))

3

In [ ]:
# 17 Write a program to count how many times "apple" appears in the given list.
# Input: ["apple", "banana", "apple", "cherry", "apple"]
# Output: 3

In [ ]:
list = ["apple", "banana", "apple", "cherry", "apple"]
print(list.count("apple"))

3

In [ ]:
# 18 Write a program to count the occurrences of 100 in the given list.
# Input: [10, 20, 30, 40, 50]
# Output: 0

In [ ]:
list =  [10, 20, 30, 40, 50]
print(list.count(100))

0

In [ ]:
# min() and max() Function Questions

In [ ]:
# 19 Write a program to find the minimum value in the given list.
# Input: [45, 12, 78, 34, 23]
# Output: 12

In [ ]:
list = [45, 12, 78, 34, 23]
print(min(list))

12

In [ ]:
# 20 Write a program to find the maximum value in the given list.
# Input: [99, 55, 73, 21, 64]
# Output: 99

99