<a href="https://colab.research.google.com/github/ranikanhe/project-with-Python-Assignment/blob/main/4_Set%2Ctuple_%2Cdictinterview_Q_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuple Questions


1.	Given a tuple my_tuple = (5, 10, 15, 20, 25), how can you access the element 15 using positive indexing? Write a Python program to achieve this.

In [ ]:
 my_tuple = (5, 10, 15, 20, 25)
 my_tuple[2]

15

2.	Given a tuple my_tuple = (100, 200, 300, 400, 500), how can you access the element 300 using negative indexing? Write a Python program to achieve this.

In [ ]:
 my_tuple = (100, 200, 300, 400, 500)
 my_tuple[-3]

300

3.	Given a tuple my_tuple = (1, 2, 3, (4, 5, 6)), how can you access the element 6 from the nested tuple using indexing? Write a Python program to achieve this.

In [ ]:
my_tuple = (1, 2, 3, (4, 5, 6))
my_tuple[3][2]

6

4.	Given a tuple my_tuple = (5, 10, 15, 20, 25), how can you slice it to obtain (10, 15, 20)? Write a Python program to achieve this.

In [ ]:
my_tuple = (5, 10, 15, 20, 25)
my_tuple[1:2]
my_tuple[1:4]

(10, 15, 20)

5.	Given a tuple my_tuple = ('Python', 'Java', 'C++', 'JavaScript'), how can you access the last element without knowing its index? Write a Python program to achieve this.

In [ ]:
my_tuple = ('Python', 'Java', 'C++', 'JavaScript')
my_tuple[-1]

'JavaScript'

6.	Given two tuples tuple1 = (1, 2, 3) and tuple2 = (4, 5, 6), how can you concatenate them into a single tuple? Write a Python program to achieve this.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple1 +tuple2

(1, 2, 3, 4, 5, 6)

7.	Given a tuple my_tuple = ('x', 'y', 'z', 'a'), how can you check if the element 'y' exists in the tuple? Write a Python program to achieve this.

In [ ]:
my_tuple = ('x', 'y', 'z', 'a')
'y' in my_tuple
'x' in my_tuple

True

8.	Given a tuple my_tuple = ('apple', 'banana', 'apple', 'cherry', 'apple'), how can you count the number of occurrences of 'apple'? Write a Python program to achieve this.

In [ ]:
my_tuple = ('apple', 'banana', 'apple', 'cherry', 'apple')
my_tuple.count('apple')

3

9.	Given a tuple my_tuple = (True, False, True, False), how can you find the number of True values in the tuple? Write a Python program to achieve this.

In [ ]:
my_tuple = (True, False, True, False)
my_tuple.count(True)

2

10.	Given a tuple my_tuple = ('Python', 3.8, True, (1, 2, 3)), how can you access the nested tuple (1, 2, 3)? Write a Python program to achieve this.

In [ ]:
 my_tuple = ('Python', 3.8, True, (1, 2, 3))
 my_tuple[-1]
 my_tuple[3]

(1, 2, 3)

11.	Given a tuple my_tuple = (10, 20, 30), how can you convert it into a list? Write a Python program to achieve this.

In [ ]:
 my_tuple = (10, 20, 30)
 list(my_tuple)

[10, 20, 30]

12.	Given a tuple my_tuple = (7, 14, 21, 28, 35), how can you find the smallest and largest elements? Write a Python program to achieve this.

In [ ]:
 my_tuple = (7, 14, 21, 28, 35)
 min(my_tuple)
 max(my_tuple)

35

In [ ]:
 my_tuple = (7, 14, 21, 28, 35)
 min(my_tuple)

7

13.	Given a tuple my_tuple = (2, 4, 6, 8, 10), how can you find the sum of all elements? Write a Python program to achieve this.

In [ ]:
 my_tuple = (2, 4, 6, 8, 10)
 sum(my_tuple)

30

14.	Given a tuple my_tuple = ('a', 'b', 'c', 'd'), how can you reverse the order of elements? Write a Python program to achieve this.

In [ ]:
my_tuple = ('a', 'b', 'c', 'd')
my_tuple[::-1]

('d', 'c', 'b', 'a')

15.	Given two tuples tuple1 = (1, 2, 3) and tuple2 = (1, 2, 3), how can you check if they are equal? Write a Python program to achieve this.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple1 == tuple2

True

16.	Given a tuple my_tuple = (10, 20, 30, 40), how can you unpack its values into separate variables? Write a Python program to achieve this.

In [ ]:
my_tuple = (10, 20, 30, 40)
a, b, c, d = my_tuple
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [ ]:
my_tuple = (10, 20, 30, 40)
a, b, c, d = my_tuple
print(a,b,c,d)

10 20 30 40

17.	Given a tuple my_tuple = (3, 6, 9, 12, 15), how can you convert it into a string? Write a Python program to achieve this

In [ ]:
 my_tuple = (3, 6, 9, 12, 15)
 str(my_tuple)

'(3, 6, 9, 12, 15)'

18.	Given a tuple my_tuple = (1, 2, 3, 4, 5), how can you iterate through it using a for loop? Write a Python program to achieve this.

In [ ]:
 my_tuple = (1, 2, 3, 4, 5)
 for i in my_tuple:
  print(i)

1
2
3
4
5

19.	Given a tuple my_tuple = (100, 200, 300, 400), how can you convert it into a dictionary with keys as index positions? Write a Python program to achieve this.

In [ ]:
from IPython.core.inputtransformer2 import MaybeAsyncCommandCompiler
my_tuple = (100, 200, 300, 400)
my_dict = {}
for index,  value in enumerate(my_tuple):
  my_dict[index] = value
  print(my_dict)

{0: 100}
{0: 100, 1: 200}
{0: 100, 1: 200, 2: 300}
{0: 100, 1: 200, 2: 300, 3: 400}

20.	Given a tuple my_tuple = (1, 2, 3, 4, 5), how can you delete the entire tuple? Write a Python program to achieve this.

In [ ]:
 my_tuple = (1, 2, 3, 4, 5)
 del my_tuple

Set Interview Questions



Question 1: Given a set my_set = {10, 20, 30, 40, 50}, how can you check if the number 30 exists in the set? Write a Python program to achieve this.

In [ ]:
my_set = {10, 20, 30, 40, 50}
my_set.add(30)
30 in my_set

True

In [ ]:
my_set = {10, 20, 30, 40, 50}
my_set.add(30)
30 in my_set

True

Question 2: Suppose you have a set my_set = {1, 2, 3, 4, 5}. How can you add the element 6 to this set? Write a Python program to achieve this.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
my_set

{1, 2, 3, 4, 5, 6}

Question 3: Given a set my_set = {10, 20, 30, 40, 50}, how can you remove the element 30 from the set? Write a Python program to achieve this.

In [ ]:
 my_set = {10, 20, 30, 40, 50}
 my_set.remove(30)
 my_set

{10, 20, 40, 50}

Question 4: Suppose you have two sets: set1 = {1, 2, 3} and set2 = {3, 4, 5}. How can you find their union? Write a Python program to achieve this.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.union(set2)

{1, 2, 3, 4, 5}

Question 5: Given two sets set1 = {10, 20, 30} and set2 = {30, 40, 50}, how can you find their intersection? Write a Python program to achieve this.

In [ ]:
 set1 = {10, 20, 30}
 set2 = {30, 40, 50}
 set1.intersection(set2)

{30}

Question 6: Suppose you have two sets: set1 = {10, 20, 30} and set2 = {30, 40, 50}. How can you find elements that are in set1 but not in set2? Write a Python program to achieve this.

In [ ]:
set1 = {10, 20, 30}
set2 = {30, 40, 50}
set1.difference(set2)

{10, 20}

Question 7: Given a set my_set = {1, 2, 3}, how can you remove an element randomly from the set? Write a Python program to achieve this.

In [ ]:
 my_set = {1, 2, 3}
 my_set.remove(3)
 my_set

{1, 2}

Question 8: Suppose you have a set my_set = {1, 2, 3, 4, 5}, how can you clear all elements from this set? Write a Python program to achieve this.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
my_set

set()

Question 9: Given two sets set1 = {1, 2, 3} and set2 = {3, 4, 5}, how can you find the symmetric difference? Write a Python program to achieve this.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference(set2)

{1, 2, 4, 5}

Question 10: Suppose you have a set my_set = {10, 20, 30, 40, 50}, how can you find the length of the set? Write a Python program to achieve this.

In [ ]:
my_set = {10, 20, 30, 40, 50}
len(my_set)

5

Question 11: Given a set set1 = {10, 20, 30} and a frozen set set2 = frozenset({30, 40, 50}), can you modify set2? Write a Python program to explain why.

In [ ]:
set1 = {10, 20, 30}
set2 = frozenset({30, 40, 50})

# Attempting to modify set2 will raise an AttributeError
# because frozenset objects are immutable.
try:
    set2.add(60)
except AttributeError as e:
    print(f"Error: {e}")
    print("frozenset objects are immutable and do not support item assignment or modification.")

print(f"set2 remains: {set2}")

Error: 'frozenset' object has no attribute 'add'
frozenset objects are immutable and do not support item assignment or modification.
set2 remains: frozenset({40, 50, 30})

Question 12: Suppose you have a set my_set = {1, 2, 3}. How can you update it with another set {4, 5, 6}? Write a Python program to achieve this.

In [ ]:
 my_set = {1, 2, 3}
 my_set.update({4, 5, 6})
 my_set

{1, 2, 3, 4, 5, 6}

Question 13: Given a set my_set = {'apple', 'banana', 'cherry'}, how can you check if it is a subset of another set { 'apple', 'banana', 'cherry', 'date'}? Write a Python program to achieve this.

In [ ]:
my_set = {'apple', 'banana', 'cherry', }
set2 = { 'apple', 'banana', 'cherry', 'date'}
my_set.issubset(set2)

True

Question 14: Suppose you have two sets set1 = {1, 2, 3, 4} and set2 = {3, 4}, how can you check if set2 is a subset of set1? Write a Python program to achieve this.

In [ ]:
 set1 = {1, 2, 3, 4}
 set2 = {3, 4}
 set1.issubset(set2)

False

Question 15: Given a set set1 = {1, 2, 3, 4, 5}, how can you convert it into a list? Write a Python program to achieve this.

In [ ]:
 set1 = {1, 2, 3, 4, 5}
 list(set1)

[1, 2, 3, 4, 5]

Question 16: Suppose you have a list my_list = [10, 20, 30, 40, 50, 10, 20], how can you remove duplicates and convert it into a set? Write a Python program to achieve this.

In [ ]:
my_list = [10, 20, 30, 40, 50, 10, 20]
set(my_list)

{10, 20, 30, 40, 50}

Question 17: Given two sets set1 = {1, 2, 3} and set2 = {3, 4, 5}, how can you check if they are disjoint? Write a Python program to achieve this.

In [ ]:
 set1 = {1, 2, 3}
 set2 = {3, 4, 5}
 set1.isdisjoint(set2)

False

Question 18: Suppose you have a set my_set = {10, 20, 30}, how can you iterate over its elements and print them? Write a Python program to achieve this.

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

Question 19: Given a set my_set = {10, 20, 30, 40, 50}, how can you find the minimum and maximum values? Write a Python program to achieve this.

In [ ]:
my_set = {10, 20, 30, 40, 50}
min(my_set)

max(my_set)

50

In [ ]:
my_set = {10, 20, 30, 40, 50}
min(my_set)

10

Question 20: Suppose you have two sets set1 = {1, 2, 3} and set2 = {4, 5, 6}, how can you merge them into a single set? Write a Python program to achieve this.

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set1.union(set2)

{1, 2, 3, 4, 5, 6}

Dictionary Interview Questions



Question 1: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you access the value associated with key 'b'? Write a Python program to achieve this.

In [ ]:
my_dict = {'a': 10, 'b': 20, 'c': 30}
my_dict['b']
my_dict['c']

30

Question 2: Suppose you have a dictionary my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}, how can you update the value of 'age' to 30? Write a Python program to achieve this.

In [ ]:
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
my_dict['age'] = 30
my_dict['new york'] = 20
my_dict

{'name': 'John', 'age': 30, 'city': 'New York', 'new york': 20}

Question 3: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you remove the key 'b'? Write a Python program to achieve this.

In [ ]:
 my_dict = {'a': 10, 'b': 20, 'c': 30}
 my_dict.pop('b')
 my_dict

{'a': 10, 'c': 30}

Question 4: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you add a new key-value pair 'city': 'London'? Write a Python program to achieve this.

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
my_dict['city'] = 'London'
my_dict

{'name': 'Alice', 'age': 30, 'city': 'London'}

Question 5: Given a dictionary my_dict = {'x': 1, 'y': 2, 'z': 3}, how can you get a list of all keys? Write a Python program to achieve this.

In [ ]:
my_dict = {'x': 1, 'y': 2, 'z': 3}
my_dict.keys()

dict_keys(['x', 'y', 'z'])

Question 6: Suppose you have a dictionary my_dict = {'x': 1, 'y': 2, 'z': 3}, how can you get a list of all values? Write a Python program to achieve this.

In [ ]:
my_dict = {'x': 1, 'y': 2, 'z': 3}
my_dict.values()

dict_values([1, 2, 3])

Question 7: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you check if key 'b' exists? Write a Python program to achieve this.

In [ ]:
 my_dict = {'a': 10, 'b': 20, 'c': 30}
 'b' in my_dict

True

Question 8: Suppose you have a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you iterate over its key-value pairs? Write a Python program to achieve this.

In [ ]:
my_dict = {'a': 10, 'b': 20, 'c': 30}
my_dict.items()
print(my_dict)

{'a': 10, 'b': 20, 'c': 30}

Question 9: Given a dictionary my_dict = {'x': 1, 'y': 2, 'z': 3}, how can you clear all elements from the dictionary? Write a Python program to achieve this.

In [ ]:
my_dict = {'x': 1, 'y': 2, 'z': 3}
my_dict.clear()
my_dict

{}

Question 10: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you find its length? Write a Python program to achieve this.

In [ ]:
my_dict = {'name': 'Alice', 'age': 30},
len(my_dict)

1

Question 11: Given two dictionaries dict1 = {'a': 1, 'b': 2} and dict2 = {'c': 3, 'd': 4}, how can you merge them? Write a Python program to achieve this.

In [ ]:
 dict1 = {'a': 1, 'b': 2}
 dict2 = {'c': 3, 'd': 4}
 dict1.update(dict2)
 dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Question 12: Suppose you have a dictionary my_dict = {'name': 'John', 'age': 25}, how can you copy it to another dictionary? Write a Python program to achieve this.

In [ ]:
 my_dict = {'name': 'John', 'age': 25}
 my_dict.copy()

{'name': 'John', 'age': 25}

Question 13: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you get a default value when accessing a missing key? Write a Python program to achieve this.

In [ ]:
my_dict = {'a': 10, 'b': 20, 'c': 30}
my_dict.get('a')
my_dict.get('d')
print(my_dict)

{'a': 10, 'b': 20, 'c': 30}

Question 14: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you convert it into a list of tuples? Write a Python program to achieve this.

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
list(my_dict.items())

[('name', 'Alice'), ('age', 30)]

Question 15: Given a dictionary my_dict = {'a': 10, 'b': 20, 'c': 30}, how can you sort it by keys? Write a Python program to achieve this.

In [ ]:
 my_dict = {'a': 10, 'b': 20, 'c': 30}
 my_dict.keys()

dict_keys(['a', 'b', 'c'])

In [ ]:
my_dict = {'a': 10, 'b': 20, 'c': 30}
my_dict.values()

dict_values([10, 20, 30])

Question 16: Suppose you have a dictionary my_dict = {'name': 'Alice', 'age': 30}, how can you delete the 'age' key using the pop() method? Write a Python program to achieve this.

In [ ]:
my_dict = {'name': 'Alice', 'age': 30}
my_dict.pop('age')
my_dict

{'name': 'Alice'}

Question 17: Given a dictionary my_dict = {'x': 10, 'y': 20}, how can you check if it is empty? Write a Python program to achieve this.

In [ ]:
my_dict = {'x': 10, 'y': 20}
my_dict.clear()
my_dict

{}

In [ ]:
my_dict = {'x': 10, 'y': 20}
len(my_dict)

2

Question 18: Suppose you have a dictionary my_dict = {'a': 10, 'b': 20}, how can you update it with another dictionary {'c': 30, 'd': 40}? Write a Python program to achieve this

In [ ]:
my_dict = {'a': 10, 'b': 20}
my_dict = {'c': 30, 'd': 40}
my_dict.update({'c': 30, 'd': 40})
my_dict

{'c': 30, 'd': 40}

Question 19: Given a dictionary my_dict = {'apple': 3, 'banana': 5}, how can you get the key associated with the maximum value? Write a Python program to achieve this.

In [ ]:
my_dict = {'apple': 3, 'banana': 5}
max(my_dict)

'banana'

Question 20: Suppose you have a dictionary my_dict = {'a': 1, 'b': 2, 'c': 3}, how can you reverse its key-value pairs? Write a Python program toachievethis.

In [ ]:
 my_dict = {'a': 1, 'b': 2, 'c': 3}
 my_dict.keys()
 my_dict.values()

dict_values([1, 2, 3])

In [ ]:
 my_dict = {'a': 1, 'b': 2, 'c': 3}
 my_dict.keys()

dict_keys(['a', 'b', 'c'])